<div class="columns is-centered is-multiline">

  <div class="column is-12 has-text-centered">
    <h1 class="is-size-2">Hi, I'm Jareem</h1>
  </div>

  <div class="column is-6">
    <div>
      <p class="is-size-4">I'm a Frontend UI Designer / Developer based out of New York, NY. If you are a business
        seeking
        a web presence or an employer looking to hire you can get in touch with me here.</p>
    </div>

    <div class="has-text-centered">
      <a class="button is-outlined is-danger is-medium is-rounded mt-25 mb-25">Connect With Me</a>
    </div>
  </div>

</div>