<div class="hero is-dark is-medium mt-25">
  <div class="hero-body has-text-centered">

    <div class="columns is-multiline ">

      <div class="column">
        <a href="">
          <img src="../../../../assets/img/socialMedia/dribbble.png">
        </a>

        <a href="">

          <img src="../../../../assets/img/socialMedia/github.png">
        </a>

        <a href="">
          <img src="../../../../assets/img/socialMedia/instagram.png">
        </a>

        <a href="">
          <img src="../../../../assets/img/socialMedia/linkedin.png">
        </a>
        
        <a href="">
          <img src="../../../../assets/img/socialMedia/facebook.png">
        </a>
      </div>
      <div class="column is-12">
        <h1 class="is-size-4">Shoot me a Follow</h1>
      </div>

    </div>

  </div>
</div>